body {
    font-size: 20px;
}

.headerFrame {
    display: flex;
}

.title {
    flex: none;
    width: 20%;
}

.menu {
    flex: none;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    flex: none;
    display: block;
    margin-right: 10px;
    text-align: center;
}

.menu-item-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.menu-item-icon > img {
    width: 30px;
    height: 30px;
}

.welcome {
    font-size: 40px;
    background-color: rgba(139, 197, 255, 0.634);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.main-contain-1 {
    width: 1200px;
    display: flex;
    justify-content: center;
}
/* 
.dog-1 {
    width: 80px;
    height: 50px;
} */

.dog-1 {
    display: block;
    width: 80px;
    height: 50px;
    object-fit: cover;
    object-position: left top; /*可裁切*/
}

.main-item-1 {
    flex: auto;
    height: 50px;
    display: flex;
    width: 33%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
}

.item-1-img {
    flex: none;
}

.item-1-text {
    display: flex;
    flex: auto;
    background-color: rgb(161, 231, 31);
    width: auto;
    align-items: center;
}

.promotion {
    flex: auto;
}

.main-contain-2 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main-item-2 {
    flex: auto;
    width: 180px;
    margin: 10px;

}

.dog-2 {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top; /*可裁切*/
}

.item-2-img {
    flex: auto;
    width: 100%;
    height: 100px;
}

.item-2-text {
    display: flex;
    flex: auto; /* div會和原始div同寬*/
    background-color: rgb(161, 231, 31);
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

@media (max-width:1920px) {
    .main-contain-2 {
        flex-wrap: wrap;
    }


}

@media (max-width:1200px) {
    .main-contain-1 {
        flex-wrap: wrap;
        width: 90%;
    }

    .main-contain-2 {
        width: 90%;
    }

    .main-item-1 {
        width: 45%;
    }

    .main-item-2 {
        width: 22.5%;
    }
}

@media (max-width:600px) {

    .main-item-1 {
        width: 90%;
    }

    .main-item-2 {
        width: 90%;
    }
    
    .menu-item {
        display: none;
    }
    
    .menu-item-icon {
        display: block;
    }
}
